/*Estilos Generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  font-family: "Vollkorn", sans-serif;
}

/*Estilos Header*/
header {
  width: 70vw;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}

/*Estilos mainContainer*/
.mainContainer {
  width: 70vw;
  height: 100vh;
  margin: 0 auto;
}

/*Estilos Seccion Descripción*/
.sectionDescription {
  margin: 2rem auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.description {
  width: 45%;
  font-size: 1.3rem;
  line-height: 2.3rem;
}

.description .strongText {
  background-color: #dac989;
}
.imageDescription {
  width: 90%;
  border-radius: 3rem;
  border: 1px solid black;
}

/*Estilos Sección de la App*/
.sectionApplication {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 90%;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  background-color: #e8e2ca;
  border-radius: 20px;
  border: solid 1px black;
}

.card h3 {
  margin: 1rem auto;
}

.card input {
  margin: 1rem auto;
  height: 40px;
  width: 60%;
  border-radius: 100px;
  border: none;
  font-size: 1.3rem;
}

.card input::placeholder {
  padding-left: 1rem;
  color: #111;
}

.card button {
  margin: 1rem auto;
}

.card .buttonArticle {
  margin: 1rem auto;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  background-color: #d5c588;
}

.card .buttonArticle:hover {
  transform: scale(1.1, 1.1);
}

.listFinance {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.listControl {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.6rem;
}

.listControl p {
  margin: 1rem 0;
  padding: 0rem 1rem;
  border-radius: 10px;
  border: solid 1px grey;
}

.listControl p:first-child {
  background-color: #a6edfe;
}

.listControl p:last-child {
  background-color: #80f282;
}

.listArticle {
  width: 80%;
  min-height: 2rem;
  padding: 0.8rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  color: #111;
  font-size: 1.3rem;
}

.listArticle p {
  max-width: 100px;
}

.listArticle .icono {
  color: red;
  cursor: pointer;
}

.listFinance {
  margin: 1rem auto;
}

.listControl p.moneyLeftover {
  background-color: #fff634;
}

.listControl p.moneyResto {
  background-color: #dd1313;
}

/*Estilos footer*/

footer {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

footer a {
  color: #111;
}

footer .iconFooter {
  color: #f19419;
  font-size: 2rem;
}

@media (max-width: 1100px) {
  .imageDescription {
    width: 100%;
    border-radius: 3rem;
    border: 1px solid black;
  }
}

@media (max-width: 1000px) {
  header {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
  }

  .mainContainer {
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
  }
}

@media (max-width: 750px) {
  .sectionDescription {
    margin: 2rem auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .description {
    width: 80%;
  }

  .listFinance {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .mainContainer {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
  }

  .imageDescription {
    width: 100%;
    border-radius: 0;
    border: 1px solid black;
  }

  .description {
    width: 100%;
    padding: 1rem;
  }

  .card {
    width: 100%;
    border-radius: 0px;
  }

  .card input {
    width: 80%;
  }

  .card .buttonArticle {
    width: 180px;
  }

  .listControl {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .listControl p {
    margin: 1rem 0;
    padding: 0rem 1rem;
    border-radius: 10px;
  }

  .listArticle {
    width: 95%;
  }
}

@media (max-width: 530px) {
  .listControl {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
  }

  .listControl p {
    border-radius: 1rem;
    width: 70%;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
  }
}

@media (max-width: 405px) {
  .listControl p {
    width: 100%;
    border-radius: 0px;
  }
}

@media (max-width: 350px) {
  .card input {
    width: 95%;
  }
}
